on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 6543:5432
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v19
      - uses: cachix/cachix-action@v16
        with:
          name: devenv
          skipPush: true
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@v12
      - name: Go Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            .devenv/state/go
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Load nix environment into PATH
        run: bash -c 'eval "$(nix print-dev-env --no-pure-eval)" && echo "PATH=$PATH" >> $GITHUB_ENV'
      - name: Lint
        uses: golangci/golangci-lint-action@v8
        with:
          install-mode: "none"
          working-directory: .
      - name: Create test users
        run: |
          PGPASSWORD=test psql -h localhost -p 6543 -U test -d test -c "CREATE USER u1 WITH PASSWORD 'u1';"
          PGPASSWORD=test psql -h localhost -p 6543 -U test -d test -c "CREATE USER u2 WITH PASSWORD 'u2';"
      - name: Test
        run: nix develop --no-pure-eval --command just test-ci
